@import 'vars';
@import 'global';
@import 'fonts';

/* start header */
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
    padding: 5px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
    margin-left: 12px;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        right: -5px;
        top: -8px;
        font-size: 11px;
        color: #fff;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomate;
    }
}
.basket{
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user{
    margin-left: 33px;
    margin-right: 10px;
    padding-right: 20px;
    position: relative;
    &::before{
        content: "\f107";
        position: absolute;
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        top: 37px;
        right: 5px;
    }
    &__inner{
        display: flex; 
        align-items: center;
    }
    &__images{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        font-weight: bold;
        color: #222;
    }
    &__money{
        color: $green;
    }
}
.user__menu{
    top: 86px;
    left: 28px; 
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    -webkit-transition: all .3s;
    -o-transition: all 3s;
    width: 127px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    top: 86px;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
        
    }
}
.circle__menu{
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
}
.user__box,
.basket__box,
.message__box,
.notification__box{    
    position: relative;
    /* height: 90px; */
    /* margin-top: 40px;  */
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }  
    }
}
.circle__menu{
    border-top: 1px solid #e0e0e0;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.basket__box,
.message__box,
.notification__box{
    margin-top: 2px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color: $bg;
        }
        .circle__menu{
            overflow: hidden;
            height: auto;
        }
        .circle__item{
            padding: 23px 23px;
            border-width: 1px;
        }
    }
}
.circle__item{
    background-color: #fff;
    border: 0px solid #e0e0e0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top: none;
    padding: 0 23px;
    transition: all .3s;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }

}
.circle__images{
    margin-right: 15px;
}
.circle__info-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $bg;
}
.circle__info-thema{
    font-size: 12px;
    color: $red; 
    line-height: 22px;
}
.circle__info-price{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.circle__info-date{
    color: #707070;
    font-size: 10px;
}
.basket__summ{
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}
.basket__title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $bg;
}
.basket__btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout{
    width: 123px;
    margin-left: 6px; 
    background-color: $red;
}
.notification__menu,
.message{
    .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50% ;
    }
}
.icons-color::before{
    color: $tomate;
}
.header__btn-menu,
.menu__btn{
    display: none;

}

/* end header */
//start modal
#modal{
    background-color: $green;
    max-width: 730px;
    width: 30%;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}
.login__title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.login__wrapper{
    form{
        min-width: 400px;
        margin: 0 auto;
    }
    label{
        position: relative;
        display: block;
        width: 100%;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 13px;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-pass::before{
        content: "\f023";
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder{
            color: #fff;
            font-size: 14px;
        }
    }
    button{
        margin-top: 19px;
        padding: 17px 0 16px;
        background-color: #fff;
        width: 140px;
        text-transform: uppercase;
        border: none;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
}
.lost-pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.creat-acc{
    margin-top: 19px;
    padding: 17px 0 16px;
    text-align: center;
    width: 250px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before{
        content: "\f044";
        position: absolute;
        font-family: 'icomoon';
        top: 17px;
        left: 33px;
    }
}
.fancybox-button svg path{
    color: #fff;
}

//end modal
/* srart search */
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding: 125px 194px 100px;
    color: red;
    text-align: center;
    &-title{
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
    }
    &-text{
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 500;
    }
    &-form{
        min-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(178, 81, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 50px;
            &:focus{/* когда нажимаем на поиск рамка поиска загарается красным */
                border: 1px solid $red;
            }
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 5px;
            top: 17px;
        }
    }
}
/* end search */
/* start products */
.products{
    padding: 10px 0px;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + bottom{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product_item{
    max-width: 280px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 0px 14px;
        align-items: center;
        min-height: 60px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        min-width: 190px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $red;
        display: block;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    } 
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        padding: 0px 12px;
    }  
    &-author{
        display: flex;
        align-items: center;
        min-width: 170px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
        font-size: 14px;
        font-weight: 500;
        }
    }
}
/* .products__bottom-btn{
    text-align: center;
    button{
        margin: 30px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
    }
} */


//end products 
//start product-slider

.container-fluid{
    background-color: #f4f6f5;
}
.product_item-rec{
    width: 100%;
    margin-bottom: 30px;
    background-color: #f4f6f5;
}
.product_item-imgrec{
    margin: 0 auto;
    max-width: 737px;
    min-height: 411px;
    background-repeat: round;
    display: block;
    background-position: center;
    background-size: cover;
}

.product-slider{
    padding: 0px 0px 50px;
    background-color: #f4f6f5;
    .slick-dots{
        text-align: center;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                    background-color: $red;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

//end product-slider 
//start footer 
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 70px 0px 80px;
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
} 
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
}
.footer__col{
    max-width: 270px;
    /* width: 100%; */
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $red;
        }
    }
    &-text{
        color: #b7c3c8;
        margin-bottom: 10px;
        span{
            color: bisque;
        }
}   }
.footer__info{
    margin-top: 10px;
    color: #b7c3c8;
    padding-left: 30px;
    position: relative;
    p{
    &::before{
        content: '\f041';
        font-family: 'icomoon';
        color: $red;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
    }
}
.footer__info-phone{
    p{
    &::before{
    content: '\f095';
    }
    }
}
.footer__col-list{
    a{
        margin-bottom: 12px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
            content: '\f105';
            color: $red;
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }
}
.footer__social-link{
    margin-bottom: 30px;
    li{
        display: inline-block;/* что бы они встали в одну линию */
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 64px;
        height: 64px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.link-wocap{
    background-position: -1px -1px;
}
.link-mail{
    background-position: -67px -1px;
}
.link-vk{
    background-position: -133px -1px;
}
.footer__form-title{
    margin-bottom: 15px;
    color: bisque;
    font-size: 20px;
}
.footer__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $red;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: icomoon;
            color: #fff;
            font-size: 20px;
            top: 8px;
            left: 15px; 
        }
    }
}

                    

//enf footer 


@import 'media';